@import 'common.css';


.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
.menu-btn {
    width: 30px;
    height: 30px;
    position: relative;
    z-index:2;
    overflow: hidden;
}
.menu-btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #222222;
    transition: all 0.5s;
}
.menu-btn span:nth-of-type(2) {
    top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
    top: calc(50% + 5px);
}

.menu li{
    float: left;
}
.menu li a {
    display: inline-block;
    padding: 10px 15px;
    color: black;
    text-decoration: none;
}

.wrapper{
    max-width: 940px;
    padding: 0 30px;
    margin: 0 auto;
}
.b-content{
    height: 100%;
    color: #000;
}
.menuToggle{
    padding: 10px 15px;
    cursor: pointer;
    color: black;
    display: block;
}

nav input{
    display: none;
}
nav label{
    padding: 10px 15px;
    color: black;
    display: none;
}
@media ( max-width: 768px) {
    nav label {
        display: flex;
        justify-content: flex-end;
    }
    .text7 {
        font-size: 12px;

}

    #menuToggle:checked + .menu_clearfix{
        display: block;
        position: absolute;
        width: 100%;
        margin-left: -30px;
        padding-left: 28px;
    }
    .menu li{
        float: none;
    }
    .menu{
        display: none;


    }
}



body{
    height: 289px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.d-flex{
    display: flex;
    max-width: 940px;
    margin: 0 auto;
}
@media (max-width: 768px) {
    .d-flex {
        margin: 0 15px;
    }

}

.container {
    max-width: 1040px;
    margin: 0 auto;
    text-align: center;
    padding-right: 20px;
    text-shadow: 3px -4px 2px rgba(95,86,86,0.33);
}
.menu_clearfix{
    text-transform: uppercase;
    font-size: 12px;
    line-height: 20px;
    color: #404040;
    display: flex;
}

@media (max-width: 768px) {
    .menu_clearfix {
        display: none;
    }

    #menuToggle:checked + .menu_clearfix{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        width: 100%;
        top: 90px;
        right: 0;
        margin: 0;
        padding: 0;
        z-index: 999;
        height: calc(100vh - 90px);
        background: #F5F5F5;
    }
}




/*@media (min-width: 768px) {*/
/*    .menu_clearfix {*/
/*        font-size: 12px;*/
/*    }*/
/*}*/
.menu_clearfix a{
    padding: 4px 17px;
}
.menu_clearfix a:visited {
    color: black;
}
.menu_clearfix a:hover {
    color: red;
    text-decoration: underline;
}

.logo-img{
    width: 155px;
    height: 70px;
    display: inline-block;
}

header{
    padding: 18px 0;
    background: white;
}
@media (min-width: 568px) {
    header {
        padding: 10px;
    }
    .container h1, {
        font-size: 15px;

}
@media (min-width: 768px) {
    header {
        padding: 14px;
    }
}
@media (min-width: 1024px) {
    header {
        padding: 18px;
    }
}

header .d-flex{
    justify-content: space-between;
    align-items: center;
}

.card {
    background: #E0E0E0;
    width: 200px;
    text-align: center;
    margin: 15px;
    height: 100%;
    display: inline-block;
    white-space: nowrap;
}

.section-1{
    background: center / cover url("../images/section1.jpg") no-repeat;
    /*padding: 105px 0 101px;*/
    text-align: center;
    position: relative;
    }
.bg-img{
    position: absolute;
    display: block;
    z-index: -1;
}
.close-icon{
    position: absolute;
    display: block;
    width: 52px;
    height: 52px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -26px;
}

.section-1 h1{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 105px;
}
@media (min-width: 568px) {
    .section-1 h1 {
        font-size: 25px;
    }

}

@media (min-width: 768px) {
    .section-1 h1 {
        font-size: 30px;
    }

}
@media (min-width: 1024px) {
    .section-1 h1 {
        font-size: 35px;
    }

}
@media (min-width: 1280px) {
    .section-1 h1 {
        font-size: 44px;
    }

}

.section-1 p{
    padding-bottom: 100px;
    font-size: 15px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.81);
}
.border1{
    margin: 28px auto 25px;
    height: 2px;
    background: #FFFFFF;
    width: 80px;
}

.card img {
    height: 130px;
}

.card h3 {
    margin-bottom: 10px;
}

.card2_item {
    background: white;
    width: 300px;
    height: 300px;
    -webkit-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
}
.card2_item:hover {
    display: inline-block;
    transform: scale(1) rotateZ(360deg);
}

.img-wrapper {
    background: white;
    overflow: hidden;
}


.container-2{
    background: #FEFEC9;
    height: 289px;
    width: auto;
}
.container-2 h1 {
    font-family: Vollkorn;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    max-width: 940px;
    margin: 0 auto;
    padding-top: 60px;
    text-align: center;

}
@media (min-width: 568px) {
    .container-2 h1 {
        font-size: 12px;
        padding: 50px;
    }
}

@media (min-width: 768px) {
    .container-2 h1 {
        font-size: 16px;
padding: 50px;
    }
}

@media (min-width: 1024px) {
    .container-2 h1 {
        font-size: 18px;

    }
}

.frame2 {
    font-family: Vollkorn;
    width: 159px;
    height: 53px;
    border: 1px solid black;
    display: block;
    margin: 39px auto;
    text-align: center;
    padding-top: 13px;
}

p {
    font-family: Vollkorn;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
}

.p1 {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 23px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 80px;
    text-shadow: 3px 1px 1px rgba(95,86,86,0.33);
}
.border {
    margin: 28px auto 25px;
    height: 2px;
    background: rgba(0, 0, 0, 0.09);
    width: 80px;
    color: rgba(0, 0, 0, 0.09);
}
.container-1 {
    display: flex;
    max-width: 960px;
    padding-bottom: 90px;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}


.card1 {
    width: 300px;
}
.card1 img {
    width: 127px;
    height: 119px;
    margin: 50px 87px 50px 86px ;
}
.brands-wrapper {
    background: #F5F5F5;
    -webkit-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
}
.brands-wrapper:hover {
    transform: rotateY(-180deg);
    cursor: pointer;

}

.img-wrapper h2 {
    font-family: Vollkorn;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    margin-bottom: 21px;

}
.img-wrapper h1,
.section-6 h1 {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 48px;
}
.card2 {
    text-align: center;
    flex-wrap: wrap;
    margin: auto;
    gap: 20px;
    padding-bottom: 90px;
    margin-top: 43px;
    -webkit-box-shadow: 0px 30px 32px -21px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 30px 32px -21px rgba(0,0,0,0.75);
    box-shadow: 0px 30px 32px -21px rgba(0,0,0,0.75);
    width: 960px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media (min-width: 568px) {
    .card2 {
        display: flex;
        flex-direction: column;
        max-width: 300px;
    }
}

@media (min-width: 768px) {
    .card2 {
        max-width: 680px;
        display: flex;
        flex-direction: row;
    }
}
@media (min-width: 1024px) {
    .card2 {
        max-width: 960px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
@media (min-width: 1280px) {
    .card2 {
       max-width: 960px;
        justify-content: space-between;
    }
}
.card2_item {
    width: 300px;
    height: 300px;
    display: inline-block;
}
.container-3 {
    max-width: 1050px;
    margin: auto;
    text-align: center;
}


.card3 img {
    height: 220px;
}
.hr {
    background: rgba(0, 0, 0, 0.09);
    margin: 28px auto 43px auto;
    height: 2px;
    width: 80px;
    -webkit-box-shadow: 0px 30px 32px -21px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 30px 32px -21px rgba(0,0,0,0.75);
    box-shadow: 0px 30px 32px -21px rgba(0,0,0,0.75);
}
.icons-wrapper {
    margin-top: 30px;
    padding: 1px 9px;
    display: flex;
    justify-content: center;
}


.icons-wrapper a {
    margin-right: 6px;
    font-size: 0;
}
.container-3 h1 {
    font-size: 16px;
    padding-top: 20px;
    text-transform: uppercase;
}
.container-3 h2 {
    font-family: Vollcorn, serif;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 6px;
}
.container-3 h3 {
    font-size: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 6px;
    color: lightslategray;
    text-align: center;
}
.card3 h1 {
    padding-top: 20px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}
.card3 h2 {
    font-family: Vollcorn, serif;
    font-size: 14px;
    /*text-overflow: ellipsis;*/
    overflow: hidden;
    white-space: nowrap;
    line-height: 20px;
    text-align: center;
    font-weight: 400;

}
.section-3 {

    display: flex;
    flex-direction: column;
    align-items: center;
}


.section-4 {
    background: #F5F5F5;
}
@media (min-width: 568px) {
    .section-4 {
        display: flex;
        flex-direction: column;
    }
}
.parent {
    width: 62px;
    height: 62px;
    margin: auto;
}

.section-5 {
    background: #F5F5F5;
    height: 511px;
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
.border2 {
    width: 2px;
    height: 215px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.04);

}
.text5 {
    font-family: Vollkorn;
    font-size: 26px;
    font-weight: 400;
    line-height: 33px;
    align-items: center;
}
@media (max-width: 960px) {
    .text5 {
        font-size: 18px;
    }

}
.text6 {
    max-width: 338px;
    text-align: center;
}
@media (max-width: 768px) {
    .text6 {
        width: 150px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: center;
    }
}

@media (max-width:568px) {
    .text5 {
        font-size: 12px;
    }
}

h4 {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #ABABAB;
    margin-top: 10px;
}
.text6 img {
    width: 64px;
    height: 64px;
    margin-top: 24px;

}
.section-6 {
    background: center / cover url("../images/phone6.jpg") no-repeat;
    text-align: center;
    position: relative;
    width: auto;
    height: 520px;

}
.review {
    display: flex;
    justify-content: center;
    gap: 55px;
    margin-bottom: 98px;

}


.contact-info {
    font-family: Vollkorn;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    text-align: 22px;
    align-content: center;
    word-break: break-all;
    white-space: pre-line;

}
.section-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons-wrapper-second {
    display: flex;
    flex-direction: column;
    margin-top: 19px;
    gap: 10px;
}

.contact {
    display: flex;
    max-width: 960px;
    padding-top: 10px;
}

.text7 {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 960px) {
    .text7 {
        width: 200px;
    }
}
.contact-links img {
    width: 14px;
    height: 14px;
}
.social-icon {
    /*padding-right: 21px;*/
    margin: 1px 9px;
    /*color: black;*/
}
.social-icon:hover {
    color: #7EC4BD;
}
.social-icon-wrapper {
    height: 70px;
    width: 70px;

}
li img  {
    width: 14px;
    height: 14px;
}
.social-links {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 11px;
}
.section-7 {
    background-color: black;
    height: 639px;

}
form{
    text-align: center;
    padding-top: 69px;
}
.form-text {
    height: 57px;
    width: 564px;
    padding-left: 31px;
    background: black;
}
.form-text-project {
    width: 564px;
    height: 127px;
    padding-left: 31px;
}
.text-project {
    font-family: Vollkorn;
    font-style: italic;
    width: 210px;
    height: 53px;
    border: 2px solid #7EC4BD;
    display: block;
    margin: 39px auto;
    text-align: center;
    margin-top: 22px;
    color: #8BCAC3;
    background-color: black;
}
.form-text1 {
    background: black;
}
.form-text {
    background: #3E3E3E;
    color: white;
}
.form-text:nth-child(even) {
background: #545252;
}
.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Vollkorn serif;
    font-style: italic;

}

.form-wrapper input::placeholder,
.form-wrapper textarea::placeholder{
    font-style: italic;
    font-family: Vollkorn;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    color: white;
}
.last-label {
    width: 43px;
    height: 46px;
    object-fit: cover;
}
.last-text {
    font-size: 15px;
    font-weight: 400;
    font-family: Vollkorn;
    line-height: 22px;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    margin-top: 14px;
}
.section-7 {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 639px;
    align-items: center;
}
.form-wrapper textarea {
    padding-top: 17px;
}




.card3 {
    max-width: 1050px;
    width: 220px;
    height: 220px;
    /*margin-right: 20px;*/
    display: inline-block;
    position: relative;
    overflow: visible;
}

@media (max-width: 768px) {
    .card3 {
        padding-top: 55px;
    }
}

.card3:not(:first-child):not(:last-child) {
  margin-right: 20px;
}



.card3-img-wrapper:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 220px;
    height: 220px;
    background:  rgba(0, 0, 0, .7);
    opacity: 0;
    transition: all .4s ease;
    content:'';
}

.card3-img-wrapper:hover:before {
    opacity: 1;
}

.grid-item_title {
    font-family: Montserrat;
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-size: 18px;
    color: white;
    overflow: hidden;
    z-index: 3;
    display: none;
}

.card3-img-wrapper:hover .grid-item_title {
    display: block;
}

.grid-item_title > span {
    text-align: center;
    display: inline-block;
    overflow: hidden;
    transform: translateY(150px);
    transition: transform .3s ease;
}
.card3-img-wrapper:hover .grid-item_title > span {
    transform: translateY(0);
    display: inline-block;
    text-align: center;
    margin-right: 15px;
}

.social-icon-wrapper {
    -webkit-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
}
.social-icon-wrapper:hover {
    transform: rotateY(-180deg);
    cursor: pointer;
}

.dws-menu {
}
@media (min-width: 568px) {
    .dws-menu {
        font-size: 12px;
        padding-top: 0;
    }
}

@media (min-width: 768px) {
    .dws-menu {
        font-size: 16px;
        padding-top: 10px;
    }
}

.dws-menu *{
    margin: 0;
    padding: 0;
}
.dws-menu ul,
.dws-menu ol{
    list-style: none;
}
.dws-menu > ul{
    display: flex;
    justify-content: center;
}
.dws-menu > ul li{
    position: relative;
    border: 1px solid #CE5A57;
}
.dws-menu > ul li > a i.fa{
    position: absolute;
    top: 15px;
    left: 12px;
    font-size: 18px;
}
.dws-menu > ul li a{
    display: block;
    background:#E1B16A;

    padding: 15px 30px 15px 40px;
    font-size: 14px;
    color: #454547;
    text-decoration: none;
    text-transform:uppercase;
    transition: all 0.3s ease;
}
.dws-menu li a:hover{
    background: linear-gradient(to bottom,  rgba(224,225,229,1) 0%,rgba(69,69,71,1) 2%,rgba(69,69,71,1) 98%,rgba(224,225,229,1) 100%);

    color: #E1B16A;
    box-shadow: 1px 5px 10px -5px black;
    transition: all 0.3s ease;
}

/*sub menu*/
.dws-menu li ul{
    position: absolute;
    min-width: 150px;
    display: none;
}

.dws-menu li > ul li a{
    padding: 10px;
    text-transform: none;
    background: #E1B16A;
}
.dws-menu li > ul li ul{
    position: absolute;
    right: -150px;
    top: 0;
}
.dws-menu li:hover > ul{
    display: block;
}

.icons-wrapper .twitter1:hover img {
    opacity: 1;
}
.social-links span {
    font-family: Vollkorn;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    padding-left: 9px;
}
.social-icon-second:hover {
    color: white;
}

    @media (min-width: 568px) {
        .contact-info,
        .text7 span{
            font-family: Vollkorn;
            font-size: 12px;
            font-weight: 400;
            line-height: 22px;
            text-align: 22px;
            align-content: center;
            word-break: break-all;
            white-space: pre-line;
        }
        .text7 h1 {
        font-size: 12px;
        }
    }
    }
@media (min-width: 968px) {
    .contact-info,
    .text7 span{
        font-family: Vollkorn;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        text-align: 22px;
        align-content: center;
        word-break: break-all;
        white-space: pre-line;
    }
    .text7 h1 {
        font-size: 16px;
    }
}
@media (min-width: 568px) {
    .form-wrapper {

    }
}
.Mark,
.Mail,
.Heart {
    width: 100px;
    height: 100px;
}